@font-face {
    font-family: "Digital Clock";
    src: url("fontes/DS-DIGI.TTF") format("truetype"),
        url("fontes/DS-DIGIB.TTF") format("truetype"),
        url("fontes/DS-DIGII.TTF") format("truetype"),
        url("fontes/DS-DIGIT.TTF") format("truetype");
}

@font-face {
    font-family: "Daniel Font";
    src: url("fontes/Danielfont-Regular.ttf") format("truetype");
}

.texto {
    background-color: springgreen;
    color: black;
    font-size:xx-large;
    display: block;
    max-width: 1500px;
    margin: 100px;
    border: 6px solid black;
    border-radius: 7%;
    text-align: center;
    box-shadow: 1px 1px 12px 11px rgba(0,0,0,0.51)
}

.port {
    background-color: #274c4b;
    color: black;
    font-size:xx-large;
    display: block;
    margin: 100px;
    border: 6px solid black;
    border-radius: 7%;
    text-align: center;
    box-shadow: 1px 1px 12px 11px rgba(0,0,0,0.51)
}

.AU {
    color: #37FF00;
    background-color: black;
    font-family: "Digital Clock";
    display: block;
    font-size:xx-large;
    text-align: center;
    border: 6px solid #37FF00;
    border-radius: 10%;
    margin: 100px;
    max-width: 1500px;
    box-shadow: 1px 1px 12px 11px rgba(0,0,0,0.51)
}

body {
    background-image: url("imagens/Sapito-BG.png");
    background-repeat: repeat;
    background-size: 10%;
    font-family: "Daniel Font";
    align-self: center;
}

.cab {
    display: block;
    background-color: mediumslateblue;
    font-size: xx-large;
    border: solid orange;
    border-radius: 10%;
    text-align: center;
    box-shadow: 1px 1px 12px 11px rgba(0,0,0,0.51)

}

button {
    width: fit-content;
    padding: .8rem 1.5rem;
    margin: 2rem auto;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    background-color: black;
    font-family: "Daniel Font";
    color: white;
    font-size: x-large;
}

.comm {
    background-color: lightcoral;
    color: black;
    font-size:xx-large;
    display: block;
    border: 6px solid black;
    border-radius: 100%;
    text-align: center;
    box-shadow: 1px 1px 12px 11px rgba(0,0,0,0.51);
    max-width: 1500px;
    margin: 100px;
}

.texto-comm {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #272C4C;
    color: limegreen;
    font-size:xx-large;
    display: block;
    border: 6px solid darkolivegreen;
    border-radius: 7%;
    text-align: center;
    box-shadow: 1px 1px 12px 11px rgba(0,0,0,0.51);
    max-width: 1500px;
    margin: 100px;
}